anyio
twisted
requests~=2.28.1
jsonpath
jsonpath_ng
slack-webhook
redis~=4.5.1
cx_Oracle
pandas
Jinja2
pytz~=2022.7.1
Flask[async]==2.1.1
flask_socketio
gunicorn
gevent
celery[redis]
gevent~=22.10.2
celery~=5.2.7
sniffio~=1.3.0
plotly~=5.14.1
werkzeug==2.0
pyotp
cryptography